@import "../../common/colors.scss";

.movie-list {
  margin: 20px 0;

  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 700;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 20px;
}

.hero {
  height: 190px;
  display: flex;
  justify-content: center;
  background-color: #e83278;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
